/* Entire document */
body
{
  font-family: 'Raleway', sans-serif;
  color: #1F1F1F;
  text-align: center;
  text-align: justify;
  background-color: #9F9F9F;
  margin: 0;
}

/* Select, input, button, and textarea */
select, input, button, textarea
{
  font-family: inherit;
  background-color: #DFDFDF;
  border-color: #7F7F7F;
  pointer-events: initial;
}

textarea
{
  border-width: 0.4em;
  border-radius: 1em;
  border-style: double;
  padding: 0.2em;
}
select, input, button
{
  border-width: 0.2em;
  border-radius: 0.4em;
  border-style: solid;
  padding: 0.1em;
}

/* Math */
math, .math
{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

math.bracket
{
  font-size: 3em;
  font-weight: lighter;
}

/* Scripts, used on 'div' or 'span'. Defaults to both (use a <br/> to access) or sub, you can use sup to access the upper value */
.script
{
  display: inline-block;
  font-size: 0.8em;
  text-align:left;
  vertical-align: -0.5em;
  margin-bottom: -0.25em;
  line-height: 1em;
}
.script.sup
{
  vertical-align: 0.5em;
}

/* Overlay */
.overlay
{
  position: fixed;
  pointer-events: none;
  /* Please add pointer-events: initial; to the interactive elements */
  padding: 0.5em;
  z-index: 9001;
}

.overlay.top, .overlay.bottom
{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
/* Works terribly */
.overlay.left, .overlay.right
{
  top: 50%;
  transform: translateY(-50.25%);
}

.overlay.top
{
  top: 0;
  bottom: inherit;
  transform: inherit;
}
.overlay.bottom
{
  top: inherit;
  bottom: 0;
  transform: inherit;
}
.overlay.left
{
  left: 0;
  right: inherit;
}
.overlay.right
{
  right: 0;
  left: inherit;
}

/* SVG animations */
.animatable
{
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* Tutorial */

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a
{
	color: currentColor;
	text-decoration: none;
}
nav
{
	height: 3rem;
	width: 100%;
	background-color: black;
	color: white;
	top: 0;
}
.navbar
{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}
.dropdown
{
	position: absolute;
	width: 30em;
	opacity: 0;
	z-index: 2;
	pointer-events: none;

	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 2em;
	margin-top: 1em;
	padding: 0.5em;

	box-shadow: rgba(2, 8, 20, 0.1) 0 0.175em 0.5em;
	transform: translateX(-40%);
	transition: opacity 0.5s ease-out;
}
.dropdown-item a
{
	width: 100%;
	height: 100%;
	size: 0.75em;
}

.has-dropdown:focus-within .dropdown
{
	opacity: 1;
	pointer-events: auto;
}